@import '../../../styles/variables.scss';
@import '../../../styles/avatar.scss';

/* Main */
.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 935px;
  height: 300vh;
  margin: 0 auto;
  padding-top: 100px;
  font-size: 14px;

  .main__left {
    width: 614px;
  }
}

@media screen and (max-width: 950px) {
  .main__right {
    display: none;
  }
}
