.replyJihyeon {
  display: flex;

  height: 11vh;
  width: 68vw;

  .replyTextField {
    margin-left: 10vw;

    display: flex;
    flex-direction: column;

    li {
      margin-top: 0.5vh;
    }
  }
}
