/* font-family: 'Leckerli One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

.loginJihyeon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;

  z-index: 7;
  .loginWindow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 0 3vw;

    width: 50vw;
    height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);

    z-index: 10;

    .logoForLoginWindow {
      font-family: 'Leckerli One', cursive;
      font-size: 6vw;

      display: flex;
      align-items: center;
    }

    .idInputField {
      width: 40vw;
      height: 10vh;

      font-size: 3vh;
      text-align: center;

      margin-top: 4vh;
      padding: 0;
      border: 0;
      background-color: rgb(251, 251, 251);
    }

    .pwInputField {
      width: 40vw;
      height: 10vh;

      font-size: 3vh;
      text-align: center;

      margin-top: 4vh;
      padding: 0;
      border: 0;
      background-color: rgb(251, 251, 251);
    }

    .loginSubmitBtn {
      width: 40vw;
      height: 10vh;

      font-size: 3vh;
      text-align: center;

      margin-top: 3vh;
      padding: 0;
      border: 0;
      background-color: rgb(107, 201, 252);
      opacity: 0.3;
      color: white;
    }

    .ActiveSubmitBtn {
      margin-top: 3vh;
    }

    .showInputStatus {
      margin-top: 3vh;
      font-size: 3vh;
    }

    .showNewAccountBtn {
      margin-top: 8vh;
      background-color: inherit;
      border: 0;
      color: rgb(102, 115, 254);
    }

    .showFindPwBtn {
      margin-top: 1vh;
      background-color: inherit;
      border: 0;
      color: rgb(102, 115, 254);
    }
  }
}

// .loginWindow {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;

//   margin: auto;
//   padding: 0 3vw;

//   width: 50vw;
//   height: 75vh;

//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   background-color: white;
//   border-radius: 5px;
//   box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);

//   z-index: 10;

//   .logoForLoginWindow {
//     font-family: 'Leckerli One', cursive;
//     font-size: 6vw;

//     display: flex;
//     align-items: center;
//   }

//   .idInputField {
//     width: 40vw;
//     height: 10vh;

//     font-size: 3vh;
//     text-align: center;

//     margin-top: 4vh;
//     padding: 0;
//     border: 0;
//     background-color: rgb(251, 251, 251);
//   }

//   .pwInputField {
//     width: 40vw;
//     height: 10vh;

//     font-size: 3vh;
//     text-align: center;

//     margin-top: 4vh;
//     padding: 0;
//     border: 0;
//     background-color: rgb(251, 251, 251);
//   }

//   .loginSubmitBtn {
//     width: 40vw;
//     height: 10vh;

//     font-size: 3vh;
//     text-align: center;

//     margin-top: 3vh;
//     padding: 0;
//     border: 0;
//     background-color: rgb(107, 201, 252);
//     opacity: 0.3;
//     color: white;
//   }

//   .ActiveSubmitBtn {
//     margin-top: 3vh;
//   }

//   .showInputStatus {
//     margin-top: 3vh;
//     font-size: 3vh;
//   }

//   .showNewAccountBtn {
//     margin-top: 8vh;
//     background-color: inherit;
//     border: 0;
//     color: rgb(102, 115, 254);
//   }

//   .showFindPwBtn {
//     margin-top: 1vh;
//     background-color: inherit;
//     border: 0;
//     color: rgb(102, 115, 254);
//   }
// }
